


body{
    color: rgb(241, 47, 121);      /*   هو هذا يسموه النورمل سلكتر  هذا البلوك كله سي اس اس*/
    background: rgb(51, 87, 206);         
    }
    input{
        width: 160px;
        height:35px;
        font-size:20pt;
        color: rgb(17, 111, 139);

    }
    
    h1{                 /*كدرنا كل وحده سوينالها بلوك ونتحكم بيها بالس اسس بالهيد من ال اج تي ام ال*/
        color: tomato;
    }
    h2{
        color: rgb(224, 159, 38);
    }
    h3{
        color: rgb(205, 248, 120);
    }
    h4{
        color:yellow;      /* الاولويه راح تكون للاين ستايل وليس للبيج ستايل اذا اللون سوف يكون الوردي*/
    }
    .myclass{            /*طريقة عمل كلاس تتم عن طريق وضع نقطة بالبداية ومن ثم كتابةاسم بكيفنا 
      اهنانا كتبنا ماي كلاس ونكدر نكتب بكيفنا اي شي*/
        border: 5px dashed;
    }
    .Ahmed{
        color:rgb(129, 167, 54)
    }
    #g{    /*طريقة عمل الايدي سيلكتر وهي تعرف ايدي بالبدي باحد التاكات ونعمل له بلوك بالبيج ستايل*/
        font-size: 20pt;
    }